@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --small-spacing: 0.5rem;
  --large-spacing: 1rem;
  --default-transition: 0.3s;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-light-gray);
    --color-background-soft: var(--color-white);
    --color-border: var(--color-medium-light-gray);

    --color-header: var(--color-dark-gray);
    --color-subheader: var(--color-gray);
    --color-text: var(--color-dark-gray);
    --color-link: var(--color-blue);

    --color-text-blue: var(--color-dark-blue);
    --color-text-green: var(--color-dark-green);
    --color-background-blue: var(--color-light-blue);
    --color-background-green: var(--color-light-green);
    --color-background-red: var(--color-light-red);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-soft: var(--color-dark-gray);
    --color-border: var(--color-medium-dark-gray);

    --color-header: var(--color-light-gray);
    --color-subheader: var(--color-gray);
    --color-text: var(--color-light-gray);
    --color-link: var(--color-light-blue);

    --color-text-blue: var(--color-light-blue);
    --color-text-green: var(--color-light-green);
    --color-background-blue: var(--color-dark-blue);
    --color-background-green: var(--color-dark-green);
    --color-background-red: var(--color-dark-red);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color var(--default-transition),
    background-color var(--default-transition);
  line-height: 1.6;
  font-size: 1rem;
  font-family: Poppins;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--color-header);
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  color: var(--color-header);
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  color: var(--color-header);
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  color: var(--color-header);
  font-size: 1.125rem;
  font-weight: 600;
}

b {
  color: var(--color-text);
  font-weight: 600;
}

p {
  color: var(--color-text);
  font-weight: 400;
}

small {
  color: var(--color-subheader);
  font-weight: 400;
  font-size: 0.875rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}
