/* color palette from <https://developer.apple.com/design/human-interface-guidelines/color#iOS-iPadOS-system-colors> */
:root {
  --color-black: rgb(0, 0, 0);
  --color-dark-gray: rgb(28, 28, 30);
  --color-medium-dark-gray: rgb(63, 63, 70);

  --color-gray: rgb(142, 142, 147);

  --color-medium-light-gray: rgb(209, 209, 214);
  --color-light-gray: rgb(242, 242, 247);
  --color-white: rgb(255, 255, 255);

  --color-light-blue: #73a9ff;
  --color-blue: #0063ff;
  --color-dark-blue: #0247b5;

  --color-light-green: #60ca77;
  --color-green: #007d1b;
  --color-dark-green: #025a15;

  --color-light-yellow: #ffd940;
  --color-yellow: #ffcc00;
  --color-dark-yellow: #8f5203;

  --color-light-red: #ff5d6c;
  --color-red: #d70015;
  --color-dark-red: #990211;

  --color-light-purple: #e26ee5;
  --color-purple: #a221a6;
  --color-dark-purple: #741976;
}
